.container h1{
    font-style: italic;
    font-family: 'Charmonman', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}
.container button{
    font-family: 'Charmonman', cursive;
}
.tagline {
    font-family: 'Charmonman', cursive;
    color: red;

}
.container{

    top: 30%;
    text-align: center;
    display: block;
    margin: 100px auto;
    width: 50%;
}

@media( max-width: 992px) and (min-width: 768px){
    .container{

        text-align: center;
        display: block;
        margin: 20px auto;
        width: 80%;
    }
    .bevcontainer{
      text-align: center;
      display: block;
      margin: 20px auto;
      width: 80%;
  }
}
@media(max-width: 768px) {

    .container{
        top: 30%;
        text-align: center;
        display: block;
        margin: 20px auto;
        width: 80%;
    }
    .container h1{
      font-family: 'Charmonman', cursive;
      font-size: 3em;
      margin-bottom: 0px;
    }
}