.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}


.imagescontainer{
  width: 100%;
  margin: 0 auto  !important;
  background-color: antiquewhite;
  margin-bottom: 100px;
}
.swipeimagestag{
  display:block;
  margin: 0 auto;
  width: 100%;
}

.nameUsername{
  width: 70%;
  margin: 0 auto;
  display: inline-block;
}
.imagesbtn1{
  width: 50px
}.imagesbtn2{
  width: 50px
}
@media(max-width:760px) {
  .imagesbtn2{
    width: 35px;
  }
  .imagesbtn1{
    width: 35px;
  }
}

.fullname{
  font-size: 22px;
}
.nickname{
  font-size: 16px;
}